/* EditPost.css */
.edit-post-container {
    max-width: 500px;
    padding: 30px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.edit-post-container h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.edit-post-form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 5px;
}

.form-input {
    width: 400px;
    max-width: 400px;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.create-button {
    width: 150px;
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.create-button:hover {
    background-color: #0056b3;
}

.cancel-link {
    margin-top: 10px;
    text-decoration: none;
    color: #007bff;
    font-weight: bold;
    transition: color 0.3s;
}

.cancel-link:hover {
    color: #0056b3;
}

.error-message {
    color: red;
}

.preview-image {
    width: 100px;
    border-radius: 100px;
}

.icon {
    width: 100px;
}