.header-container {
    background-color: #318ce7;
    color: #fff;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
}

.header-title {
    font-size: 24px;
    margin: 0;
    font-weight: bold;
}

.header-nav {
    margin-top: 10px;
}

.nav-list {
    list-style: none;
    padding: 0;
}

.nav-item {
    display: inline-block;
    margin-right: 20px;
}

.nav-item a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
    transition: color 0.3s ease;
}

.nav-item a:hover {
    text-decoration: underline;
    color: #afcdea;;
}